{% load static %}
<head>
	<meta charset="UTF-8">

	<link type="text/css" href="{% static '/css/survey.css' %}" rel="stylesheet"> </link>
</head>
<body>


	<form method="POST" action="/results" id="form1">
	{%csrf_token%}
	<div id="formContainer">
		<div id="header">
			<h1>
				Welcome to LApoll
			</h1>
			<p>
				This survey is being used to help us test some tools and ideas related to machine learning. 
				All data submitted is totally anonymous and we store no identifying information linking back to 
				you. Please select all the questions you agree with and give question a rating, then click submit.
				Feel free to email us at <a href="mailto : dynamicsurvey080@gmail.com">  
				dynamicsurvey080@gmail.com</a> if you have any questions. 
				<b> We appreciate your time and submission data! </b>
	
			</p>

		</div>
		<div id="top1">
			<div id="top1Space"></div>
			<h2 id="ratingsQuestion">
				You would use this question if you were trying to guess if someone lives in Los Angeles
			</h2>
		</div>	
		<div id="top2"> 
			<div id="top2Space"></div>
			<div class="answersContainer">
				<div class="answer yes">
			       		YES
				</div>	
				<div class="answer no">
			       		NO
				</div>	
			</div>
			<div class="spacer"></div>
			<div class="ratingsContainer">
				<div class="rating tDis">
					totally disagree
			        </div>	
				<div class="rating dis">
					disagree
			        </div>	
				<div class="rating neut">
					neutral
			        </div>	
				<div class="rating ag">
					agree
			        </div>	
				<div class="rating tAg">
					totally agree
			        </div>	
			</div>
		</div>
		<div id="rowsContainer">
			{%for question in questionList %}
				<div class="questionRow">
					<div class="questionText">
						{{ question.text }}
					</div>
					<div class="answersContainer">
						<div class="answer yes">
							<input type="radio" required name="answer{{question.id}}" value="1"> 
						</div>
						<div class="answer no">
							<input type="radio" required name="answer{{question.id}}" value="0">
						</div>
					</div>
					<div class="spacer"> </div>
					<div class="ratingsContainer">
						<div class="rating tDis">
							<input type="radio" required name="rating{{question.id}}" value="1">
						</div>
						<div class="rating dis">
							<input type="radio" required name="rating{{question.id}}" value="2">
						</div>
						<div class="rating neut">
							<input type="radio" required name="rating{{question.id}}" value="3">
						</div>
						<div class="rating ag">
							<input type="radio" required name="rating{{question.id}}" value="4">
						</div>
						<div class="rating tAg">
							<input type="radio" required name="rating{{question.id}}" value="5">
						</div>
					</div>

				</div>
			{% endfor %}
		</div>

		<div id="laRow">
			<h3>Do you currently live in Los Angeles? </h3>
			<div class="yes" style="margin: auto 0">yes<input type="radio" required name="livesInLA" value="1"></div>
			<div class="no" style="margin: auto 0">no<input type="radio" required name="livesInLA" value="0"></div>
		</div>	
		<div id="submitRow"> <input type="submit" value="submit"> </div>
	</div>


	</form>
</body>
